<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Danfo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Danfo&family=Montserrat+Alternates:wght@400;500;600&display=swap" rel="stylesheet">
    <title>PokemonNet</title>
</head>
<body>
    <header>
        <div class="container" id="header-container">
            <a class="title-text">
                POKEMONNET
            </a>
            <div class="container nav-block">
                <a href="https://www.kaggle.com/vishalsubbiah/pokemon-images-and-types"
                id="kaggle-container">
                    <img id="kaggle" src="../assets/kaggle.png" alt="kaggle">
                </a>
                <a href="https://github.com/duahifnv/PokemonNet"
                   id="github-container">
                    <img id="github" src="../assets/github.png" alt="github">
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="container" id="main-container">
            <div class="container" id="upload">
                <span class="title-text container-text">
                    Find out your Pokemon's type:
                </span>
                <div class="container outer">
                    <div class="container inner">
                        <form class="container" action="/" name="upload"
                              method="post" enctype="multipart/form-data"
                            id="upload-form">
                            <input type="file" class="container" id="upload-input" accept="image/png, image/jpeg" />
                            <button class="container inner" type="submit" id="upload-btn">
                                Загрузить изображение
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container" id="footer-container">
            <a href="https://donstu.ru" class="title-text">
                Project for DSTU. 2024.
            </a>
        </div>
    </footer>
    <script src="../static/script.js"></script>
</body>
</html>